**.pyc
*.gdb_history
**/.idea/
InterfaceHandlers/MainAnalysisPasses/build_dir/
InterfaceHandlers/AnalysisHelpers/Dr_linker/dr_linker
InterfaceHandlers/AnalysisHelpers/EntryPointIdentifier/entry_point_handler

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
